
.app-header {
text-align: center;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
height: 40px;
background: #000066;
}

.app-title {
font-size: 28px;
line-height: 40px;
padding: 0px;
margin: 0px;
color: #fff;
text-shadow: 1px 1px 3px #000000;
filter: dropshadow(color=#000000, offx=1, offy=1);
}

.app-headline {
color: #999;
font-size: 18px;
}



.donebutton-false{
  visibility: hidden;
}


.done1-true{
  
  background: #00FFFF;

}


.button{
  
  background:  #000066;
  color: #fff;

}

.button1{

  background :#00FFFF;
 
}


.add-input {
  width: 100%;
  border: none;  
  font-size: 1.5em;
  text-indent: 45px;
  text-align: center;  
}

.todos {
  text-align: center;
}


span.inp-false{
  visibility: hidden;

}


.img {
  height: 30px;
    width: 35px;
}

.img1 {
  height: 20px;
    width: 20px;
}




